# Python cache
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Django specific
# db.sqlite3
*.log

# Virtual environment
venv/
env/
ENV/
myenv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
*.swp

# Environment files
.env
